.link, .social, .form-disconest, #info, #searchform, .img, .Links, .banner, .edit{
    display:none;
}

#tracklist table thead{

}

#tracklist table tr{
    outline: thin solid black;
}
#tracklist table td{
    padding: 5px;
}

h1 {
    font-size: 18px
}

h3{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
}
.no-data{
    display: none;
}