<div class="row">
  <div class="artwork col-md-2">
  <a target="_blank" href="<%=uri%>">
  <% if (typeof(images) !== "undefined"){ %>   
    <img class="img-responsive center-block" src="<%=images[0]["uri150"]%>">
  <% }else{ %>
    <img class="img-responsive center-block" src="/img/rekid-150.png">
  <% }; %>
  </a>
  </div>
  <div class="release col-md-8">
    <h1><a target="_blank" href="<%= uri %>">
        <% _.each(artists, function(artist, index){ %>
            <%= artist.name %>
            <% if (index+1 < artists.length){ %>   
                <%= artist.join %>
            <% } %>
        <% }); %>
        - <%= title%>
    </a></h1>
    <table class="table">
    <tr>
      <td>
      Genres &amp; styles:
      </td>
      <td>
          <% _.each(styles, function(style) { %> 
              <span class="badge"><%= style %></span>
          <% }); %>
          <% _.each(genres, function(genre) { %> 
              <span class="badge"><%= genre %></span>
          <% }); %>
      </td>
    </tr>
    <tr>
        <td>Year:</td><td><%= year %></td>
    <tr>
    <% if (typeof(labels) !== "undefined"){ %> 
        <tr>
            <td>Cat. no / Label:</td>
            <td>
            <% _.each(labels, function(label) { %> 
                <%= label.catno %>  / <%= label.name %>
            <% }); %>
            </td>
        </tr>
    <% }; %>
    </table>
    </div>
    <div class="social release col-md-12">
    <a id="print" type="button" class="btn pr btn-default">
        <span class="print icon-printer"> </span>
        Print one sheet
    </a>
    <div class="jn btn-group">
        <a href="<%= junolink %>" target="_blank" class="btn juno">
            <span class="icon-radio-checked2"></span>
            Buy records on Juno
        </a>
        <button type="button" class="btn juno dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <% if (junoartistlink !== ""){ %> 
                <li>
                    <%= junoartistlink %>
                </li>
            <% }; %>
            <% if (junolabellink !== ""){ %> 
                <li>
                    <%= junolabellink %>
                </li>
            <% }; %>
        </ul>
    </div>
    <!--
    Scrobbling disable while last.fm api is buggy
    <a id="scrobble" type="button" class="btn btn-danger">
          <span class="scrobble icon-lastfm2"> </span>
         Scrobble to Last.fm
    </a>
    -->
    <a class="btn tw btn-info" href="http://twitter.com/intent/tweet?hashtags=Disconest&url=http%3A//www.disconest.com/%3Fdiscogsurl%3Dhttp%253A//www.discogs.com/<%= type %>/<%= id %>" target="_blank">
        <span class="icon-twitter2"></span>
        Tweet
    </a>
    <a class="btn fb btn-primary" href="https://www.facebook.com/sharer/sharer.php?u=http://www.disconest.com/?discogsurl=http://www.discogs.com/<%= type %>/<%= id %>" target="_blank">
        <span id="fb" class="icon-facebook2"> </span>
        Share on Facebook
    </a>
    <div id="scrobbleerror" class="alert alert-danger alert-dismissable fade in" style="display:none;">
      <button type="button" class="close" aria-hidden="true">&times;</button>
      <strong>Error scrobbling. Sorry about that!</strong>
    </div>
    <div id="scrobblesuccess" class="alert alert-success alert-dismissable fade in" style="display:none;">
      <button type="button" class="close" aria-hidden="true">&times;</button>
      <strong>Success!</strong>
    </div>
    </div>
  </div>
</div>
<div id="tracklist" class="row">
    <h3>Tracklist</h3>
    <table id="tltable" class="table">
    <thead>
    <% _.each(["Position", "Duration", "Artist", "Title", "Links"], function(heading) { %> 
        <td class="<%=heading %>" ><%=heading %></td> 
    <% }); %>
    <% _.each(["Key", "TS", "BPM"], function(heading) { %> 
        <td class="<%=heading %> center"><%=heading %></td> 
    <% }); %>
    </thead>
    <tbody>
    <% _.each(tracklist, function(track) { %> 
        <tr>
            <td><%= track.position %></td>
            <td class="duration"><%= track.duration %></td>
            <td>
            <% if (track.artists) { %>
                <% _.each(track.artists, function(artist, index){ %>
                    <%= artist.name %> 
                    <% if (index+1 < track.artists.length) { %>
                        <%= artist.join %>
                    <% } %>
                <% }); %>
            <% } %>
            </td>
            <td ><%= track.title %> </td>
            <td class="link">
                <% if (track.video) { %>
                   <a href="<%= track.video %>" target="_blank" class="yt">Youtube</a>
                <% }; %>
            </td>
        </tr>
    <% }); %>
    </tbody>
    </table>
</div>
<div class="row banner">
    <div class="text-center" >
        <a href="<%= banner.link %>" target="_blank">
            <img src="<%= banner.img %>" alt="<%= banner.alt %>" title="<%= banner.alt %>" width="234" height="60" />
        </a>
    </div>
  </div>
</div>
