<h3>Tracklist</h3>
<div class="table-responsive">
    <table id="tltable" class="table">
        <thead>
            <% _.each(["Position", "Duration", "Artist", "Title", "Links"], function(heading) { %> 
                <td class="<%=heading %>" ><%=heading %></td> 
            <% }); %>
            <% _.each([["Key", "Key/Scale"], ["TS", "Time Signature"], ["BPM", "Tempo in beats per minute"], ["Edit", "Edit metadata"]], function(heading) { %> 
                <td class="<%=heading[0] %> center" title="<%= heading[1] %>"><%= heading[0] %></td> 
            <% }); %>
        </thead>
        <tbody id="songs">
        </tbody>
    </table>
</div>